@page "/home_new"
@inject NavigationManager Navigation;
<h3>Welcome to the Home Page</h3>

<div class="container-fluid2">
    <header class="text-center ">
        <h1>Welcome to the Home Page</h1>
    </header>

    <nav class="text-center " style="background-color: #388E3C">
        <a href="/sign_in">Sign in</a>
        <a href="/login">Login</a>
        <a href="/about">About</a>
    </nav>

    <main class="flex-grow-1 d-flex justify-content-center align-items-center">
        <p>Welcome to our website! Use the navigation links above to explore.</p>
    </main>

    <div class="card">
        text
    </div>

    <footer class="text-center">
        The stock observation application is brought to you by an independent contractor and run using yahoo finance api
    </footer>
</div>


@code {
    
}
